
    .widget-small.primary {
    background-color: #009688;
}
.widget-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    color: #FFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.widget-small .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 85px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    font-size: 3.5rem;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-small .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
    -ms-flex-item-align: center;
    align-self: center;
}
.widget-small .info h2 {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 2.1rem;
}
.widget-small .info p {
    margin: 0;
    font-size: 16px;
}
.widget-small.info {
    background-color: #17a2b8;
}
.widget-small.warning {
    background-color: #ffc107;
}
.widget-small.danger {
    background-color: #dc3545;
}
.common {
    height: 150px;
}
.common b {
    font-size: 3.1rem;
}
